           
<div *ngIf="showCategorizedList && showCategorizedList.length > 0">

    <div *ngFor="let genres of showCategorizedList">
        <div *ngIf="genres.shows.length>0" >
            <div class="row d-flex justify-content-md-start">
                <div class="col-md-5">
                    <h2 class="pt-md-5 pt-sm-5">
                        List of {{genres.genre}} Shows
                    </h2>
                </div>    
            </div>
            <div class="row d-flex justify-content-md-start">
                <div *ngFor="let show of genres.shows" class="col-md-2 m-1">
                    <mat-card>    
                        <img mat-card-image src="{{show?.image?.medium}}" alt="Photo of {{show?.name}}">
                        <mat-card-content>
                            <span>
                                <b>{{show?.name}}</b>
                            </span>
                        </mat-card-content>
                        <mat-card-actions>   
                            <mat-icon>star</mat-icon> <span>{{show?.rating?.average}}</span>
                            <button mat-button  routerLink="/showDetails/{{ show?.id }}"> Details</button>
                        </mat-card-actions>
                    </mat-card> 
               
                    
                </div>
                
            </div>
        </div>
                     
    </div>
    
    
</div>
<div *ngIf="!showCategorizedList" class="row d-flex justify-content-md-around p-5">
    <app-show-error></app-show-error>
</div>